* {
  box-sizing: border-box;
}

:root {
  --game-width: 256px;
  --game-height: 352px;
  --gameboard-width: 256px;
  --gameboard-height: 256px;
  --pixel-size: 1;
}

html,
body {
  font-size: 11px;
  font-family: Impact, sans-serif;
  overflow: hidden;
}

body {
  background: #c2b685;
}

canvas {
  display: block;
  image-rendering: pixelated;
  user-select: none;
  cursor: pointer;
}

.game-container {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  width: var(--game-width);
  height: var(--game-height);
  transform: scale(var(--pixel-size));
}

.gameboard {
  width: var(--gameboard-width);
  height: var(--gameboard-height);

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: 2px solid #a08733;

  margin-bottom: 1rem;

  /* debugging stuff */
  /* background: url("images/center-lines.png") center center no-repeat; */
}

.camera-controls {
  position: absolute;
  top: 4px;
  left: 4px;
  display: flex;
  flex-direction: column;
}

.camera-controls__zoom,
.camera-controls__move {
  display: flex;
  gap: 4px;
  margin: 2px 0;
}

.camera-controls button {
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid black;
  box-shadow: 1px 1px black, 2px 2px white;
  background: white;
  color: black;
  cursor: pointer;
  user-select: none;
  padding: 0.25rem;
}

.camera-controls button:hover {
  color: black;
  background: white;
}

.camera-controls button:active {
  background-color: white;
  color: black;
  box-shadow: 0px 0px white;
  transform: translateX(2px) translateY(1px);
}

.scoreboard {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid black;
  background: black;
  color: white;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  outline: 2px solid #a08733;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid black;
  box-shadow: 1px 1px black, 2px 2px white;
  background: white;
  color: black;
  cursor: pointer;
  user-select: none;
  padding: 0.25rem;
}

@media (min-width: 512px) and (min-height: 704px) {
  :root {
    --pixel-size: 2;
  }
}

@media (min-width: 768px) and (min-height: 1056px) {
  :root {
    --pixel-size: 3;
  }
}
